body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  background: url('./assets/bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.border-box-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
